$colors: ( primary: #ff9800, // icon and hover
white: #ffffff, light: #545352, // gradient light (landing page)
dark: #000000, // gradient dark   (landing page)
black: #000000);
$grid-width: 150rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 20rem;